.niveles{
    border: 1px solid white;
    height:50%;
}

.nombre_nivel{
    color: white;
    margin: 5px;
}

.basico{
    background-color: #FBD348;
    border: 1px solid white;
    font-size:40px;
    border-radius: 20px;
    color: #fff;
    margin: 60px;
    padding: 5px;
    margin-top: 20px;
}

.intermedio{
    background-color: #FC683A;
    border: 1px solid white;
    font-size:40px;
    border-radius: 20px;
    color: #fff;
    margin: 60px;
    padding: 5px;
}
  
.avanzado{
    background-color: #EB4343;
    border: 1px solid white;
    font-size:40px;
    border-radius: 20px;
    color: #fff;
    margin: 60px;
    padding: 5px;
}

.personalizado{
    background-color: #0077E4;
    border: 1px solid white;
    font-size:40px;
    border-radius: 20px;
    color: #fff;
    margin: 60px;
    padding: 5px;
}